.Toolbar {
  position: fixed;
  display: flex;
  bottom: 1rem;
  left: 50%;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0);
  transition: 0.5s;

  &--hide {
    @extend .Toolbar;
    transform: translate(-50%, 140%);
  }

  .Control {
    display: flex;
    flex-grow: 9;
    margin-left: 0.5rem;
    overflow: hidden;

    button {
      margin-right: 0.5rem;

      &:nth-last-child() {
        margin-left: 0;
      }
    }

    &--fixed {
      min-width: 100px;
      margin-left: 1rem;

      button {
        width: 2rem;
        height: 2rem;
        padding: 0;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}
