body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

// SVG Styles
line.dash {
  animation: dash 2s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100px;
  }
}

line.connector {
  cursor: pointer;

  &:hover {
    stroke: tomato;
  }
}

foreignObject {
  cursor: grab;

  &.grap {
    cursor: grabbing;
  }
}

// Basic components
input[type='text'],
input[type='number'],
input[type='password'],
textarea {
  border: none;
}
