body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

// SVG Styles
line.dash {
  animation: dash 2s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100px;
  }
}

line.connector {
  cursor: pointer;

  &:hover {
    stroke: tomato;
  }
}

foreignObject {
  cursor: grab;
  overflow: visible;

  &.grap {
    cursor: grabbing;
  }

  button.close {
    top: -8px;
    left: -8px;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0;
    border-radius: 50%;
    color: #000;
    background-color: #ddd;
    text-align: center;
    line-height: 1.2rem;

    &:hover {
      opacity: 1;
      color: tomato;
    }
  }

  * {
    position: absolute;
  }
}

// Basic components
input[type='text'],
input[type='number'],
input[type='password'],
textarea {
  border: none;
  outline: none;
  border-radius: 100rem;
  padding: 0 0.5rem;
  margin: 0;
  background-color: #fff;
}

input[type='checkbox'] {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  background-color: #fff;
}

button,
input[type='button'] {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #000;
  padding: 0.5rem 1rem;
  margin: 0;
  transition: 0.2s;
  -moz-user-select: none;
  user-select: none;

  &:hover {
    opacity: 0.5;
  }
}
